<div id="table">
<h2>Body Types Table</h2>
<table>
  <tr>
    <th>Body ID</th>
    <th>Type</th>
    <th>Rate</th>
  </tr>
  {{#each bodies}}
  <tr id="row{{this.bodyID}}">
    <td>{{this.bodyID}}</td>
    <td>{{this.type}}</td>
    <td>{{this.ratePerDay}}</td>
    <td><button id="updateButton{{this.bodyID}}" onclick="updateBody({{this.bodyID}})">Update</button></td>
    <td><button onclick="deleteBody({{this.bodyID}})">Delete</button></td>
  </tr>

  {{/each}}
</table>
  
</div>

<div>


<div class="row">
	<div class="columnLeft">
  	<h4>Add A New Body Type: </h4>
    <form id="addBody" action="/bodies" method="post">
			<label for="bodyName">Name: </label><br>
      <input type="text" id="bodyName" name="type"><br>
      <label for="rate">Daily Rate: </label><br>
      <input type="text" id="rate" name="ratePerDay" required><br>
      <br>
      <input type="submit" value="Add">  
		</form>
  </div>

</div>

</div>
</body>
</html>
