
<div id="table">
  <h2>Maintenance Table</h2>
  <table>
    <tr>
      <th>Maintenance ID</th>
      <th>car ID</th>
      <th>service</th>
      <th>date</th>
      <th>cost</th>
    </tr>
    {{#each maintenance}}
    <tr>
      <td>{{this.maintID}}</td>
      <td>{{this.carID}}</td>
      <td>{{this.service}}</td>
      <td>{{this.date}}</td>
      <td>{{this.mCost}}</td>
      <td><button onclick="deleteMaintenance({{this.maintID}})">Delete</button></td>
    </tr>
    {{/each}}
  </table>
</div>

<div>
<h2>Edit Maintenance Table</h2>

<div class="row">
	<div class="columnLeft">
  	<h4>Search maintenance records</h4>
    <form>
			<label for="car_id">Car ID: </label><br>
      <input type="text" id="car_id"><br>
      
      <p>Type of Maintenance: </p>
      <input type="checkbox" name = "type" id="oil">
      <label for="oil">Oil change</label>
      <input type="checkbox" name = "type" id="tires">
      <label for="tires">Tire service</label>
      <input type="checkbox" name = "type" id="collision">
      <label for="collision">collision repairs</label>
      <input type="checkbox" name = "type" id="battery">
      <label for="battery">battery service</label>
      
      <p>Maintenance date: </p>
      <label for="start">Start date: </label><br>
      <input type="date" id="start" min="2015-01-01" max="2021-11-01"><br>
      <label for="end">End date: </label><br>
      <input type="date" id="end" min="2015-01-01" max="2021-11-01"><br>
      
      <br>
      <input type="submit" value="Search">
		</form>
  </div>
  
  <div class="columnMiddle">
  	<h4>Add a maintenance record</h4>
    <form id="addMaintenance" action="/maintenance" method="post">
			<label for="add_car_id">Car ID: </label><br>
      <input type="text" id="add_car_id" name="carID" required><br>
      
      <label for="service">Maintenance type: </label><br>
      <select name="service" id="service">
        <option value="oil change">Oil change</option>
        <option value="tire service">Tire service</option>
        <option value="collision">Collision repairs</option>
        <option value="battery">Battery service</option>
      </select><br>
      
      <label for="cost">Cost: </label><br>
      <input type="number" id="cost" name="mCost" required><br>
      
      <label for="add_date">Maintenance date:</label><br>
      <input type="date" id="add_date" name="date" min="2015-01-01" max="2021-11-01"><br><br>
      <input type="submit" value="Add">
    </form>
  </div>


  <div class="columnRight">
    <h4>Delete a Record</h4>
      <form>
        <label for="delRecord">Maintenance ID: </label><br>
        <input type="text" id="delRecord"><br>
        <br>
        <input type="submit">
      </form>
  </div>
</div>

</div>
