<h2>Cars table</h2>
<table>
  <tr>
    <th>carID</th>
    <th>bodyID</th>
    <th>make</th>
    <th>model</th>
    <th>year</th>
    <th>mileage</th>
    <th>available</th>
  </tr>
  {{#each cars}}
  <tr>
    <td>{{this.carID}}</td>
    <td>{{this.bodyID}}</td>
    <td>{{this.make}}</td>
    <td>{{this.model}}</td>
    <td>{{this.year}}</td>
    <td>{{this.mileage}}</td>
    <td>{{this.available}}</td>
  </tr>
  {{/each}}
</table>

<h2>Customers table</h2>
<table>
		<tr>
			<th>customerID</th>
			<th>customerFirst</th>
			<th>customerLast</th>
			<th>phone</th>
			<th>email</th>
			<th>street</th>
			<th>city</th>
			<th>state</th>
			<th>zip</th>
		</tr>
		{{#each customers}}
		<tr>
		<td>{{this.customerID}}</td>
		<td>{{this.customerFirst}}</td>
		<td>{{this.customerLast}}</td>
		<td>{{this.phone}}</td>
		<td>{{this.email}}</td>
		<td>{{this.street}}</td>
		<td>{{this.city}}</td>
		<td>{{this.state}}</td>
		<td>{{this.zip}}</td>
		</tr>
		{{/each}}

	</table>

<h2>rentals</h2>
<table>
  <tr>
    <th>car ID</th>
    <th>Customer ID</th>
    <th>start date</th>
    <th>end date</th>
    <th>credit card</th>
    <th>expiration</th>
    <th>CVV</th>
    <th>zip code</th>
    <th>total cost</th>
  </tr>
  {{#each rentals}}
  <tr>
    <td>{{this.carID}}</td>
    <td>{{this.customerID}}</td>
    <td>{{this.start}}</td>
    <td>{{this.end}}</td>
    <td>{{this.creditCardNum}}</td>
    <td>{{this.expDate}}</td>
    <td>{{this.cvv}}</td>
    <td>{{this.cardZip}}</td>
    <td>{{this.totalCost}}</td>
    <td><input type="submit" value="Delete"></td>
  </tr>
  {{/each}}
</table>


<div>
<h2>Edit Rentals Table</h2>

<div class="row">
	<div class="columnLeft">
  	<h4>Add New Rental</h4>
    <form id="addRental" action="/rentals", method="post">
			<label for="car_id">Car ID: </label><br>
      <input type="text" id="car_id" name="carID" required><br>
      <label for="customer_id">Customer ID: </label><br>
      <input type="text" id="customer_id" name="customerID" required><br>
      <label for="start">Start date: </label><br>
      <input type="date" id="start" name="start" min="2021-11-01" required><br>
      <label for="end">End date: </label><br>
      <input type="date" id="end" name="end" required><br>
      <label for="credit_card">Credit card: </label><br>
      <input type="text" id="credit_card" name="creditCardNum" required><br>
      <label for="exp_date">Expiration: </label><br>
      <input type="text" id="exp_date" name="expDate" required><br>
      <label for="cvv">CVV: </label><br>
      <input type="text" id="cvv" name="cvv" required><br>
      <label for="zip">Zip code: </label><br>
      <input type="number" id="zip" name="cardZip" min="00001" max="999950" required><br>
      <label for="total">Total cost: </label><br>
      <input type="number" id="total" name="totalCost" required><br><br>
      <input type="submit" value="Add">  
		</form>
  </div>
  
  <div class="columnMiddle">
  	<h4>Search Rentals</h4>
    <form>
			<label for="customer">Customer ID: </label><br>
      <input type="text" id="customer"><br>
      <label for="car">Car ID:</label><br>
      <input type="text" id="car"><br>
      <label for="search_start">beginning: </label><br>
      <input type="date" id="search_start"><br>
      <label for="search_end">ending: </label><br>
      <input type="date" id="search_end"><br><br>
      <input type="submit">
    </form>
  </div>


  <div class="columnRight">
    <h4>Delete a Rental</h4>
      <form>
        <label for="delCar">Car ID: </label><br>
        <input type="text" id="delCar"><br>
        <label for="delCustomer">Customer ID: </label><br>
        <input type="text" id="delCustomer"><br>
        <label for="delDate">Date: </label><br>
        <input type="date" id="delDate"><br><br>
        <input type="submit">
      </form>
  </div>
</div>

</div>
